.f-head {
    padding: 10px;
    text-align: center;
    border:1px solid #fff;
    color: #fff;
    margin-bottom: 30px;
}
.f-head p {
    margin: 0;
    color: white;
}
.f-rating p {
    margin-bottom: 0;
}
.f-reviews{
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    border: 2px dot-dash green;
    margin-top: 20px;
}
.f-logo {
    width: 30%;
    float: left;
}
.f-logo img{
    margin-left: 10px;
    margin-top: 10px;
}
.f-rating{
    width: 70%;
    float: left;
}

footer {
    padding: 5px 0 0!important;
}

.bg-fix {
    background: url(../images/new-site/banner1.jpg) no-repeat fixed 50% 0;
    background-size: cover;
    position: relative;
    transition: all 2s linear;
}
